@import "../../theme/theme.scss";

.flop__contributors {
    padding-top: 50px;
    min-height: 100vh;

    h1{
        color: $green;
    }
    h3{
    	margin : 50px 0px 10px 20px;
    }
	p{
	margin :30px 0px 20px 0px}
    .contributors__header {
        margin-bottom: 20px;
    }
li{

	line-height: 70px;
	font-size: 16px;
	list-style: none;
    border: 1px solid grey;
    border-style: none none none solid;
    margin-top: 20px;

line-height: 2;

    padding: 5px 20px;
    background: white;
        &:hover {
            color: $green;
            border-color: $green;
        }
}

    .contributor__card {
        margin: 10px 0px 10px 15px;
        transition: 0.5s ease-in-out;
               column-count: 3;

        
    }
}



.contributors__tutorial { 
	margin-top: 100px;
}
